<h2 class="title-container">Administrar empleado</h2>
<p></p>
<form (ngSubmit)="onSubmit()" [formGroup]="employeeForm" enctype="multipart/form-data" class="employee-form">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input id="nombre" formControlName="nombre" />
  </div>

  <div class="form-group">
    <label for="cedula">Cédula</label>
    <input id="cedula" type="number" formControlName="cedula" />
  </div>

  <div class="form-group">
    <label for="foto">Foto</label>
    <input id="foto" type="file" (change)="onFileSelected($event)" />
  </div>

  <div class="form-group">
    <label for="fechaIngreso">Fecha de Ingreso</label>
    <input id="fechaIngreso" type="date" formControlName="fechaIngreso" />
  </div>

  <div class="form-group">
    <label for="idCargo">Cargo</label>
    <select id="idCargo" formControlName="idCargo">
      <option *ngFor="let cargo of cargos" [value]="cargo.idCargo">{{ cargo.nombre }}</option>
    </select>
  </div>

  <button type="submit">Guardar</button>
</form>
